.back{
    background-image: url('/public/images/copy.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    margin: 100px 0px 100px 0px;
    padding: 50px;
    height: 100%;
   
}
.accardon{
    background-color: black;
    border-radius: 8px;
    padding: 30px;
   
}
.accardon h5{
    color: rgb(94, 94, 241);
}
.accardon p{
    color: black !important;
}
button{
    margin: 25px 0px 0px 0px;
    background-color: blue;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
}
h1{
    color: white;
}
.anser{
    background-color: white;
    color: black;
    padding: 10px;
    text-align: justify;
    

}